<!-- this is the sign_in.handlebars file inside the users folder of the views folder
views/users/sign_in.handlebars -->

<div class="container text-center">
  <img src="/assets/img/hamburger-icon.png" class="img-burger" width="200" height="200"/>
  <hr>
  <h2>Sign In</h2>
  <div class="row">
    <div class="col-md-12">
		<form class="create-update-form form-inline" action="/users/login" method="POST">
		  <div class="form-group">
		    <label for="em">Email:</label>
		    <input type="text" class="form-control" id="em" name="email">
		  </div>
		  <div class="form-group">
		    <label for="pass">Password:</label>
		    <input type="password" class="form-control" id="pass" name="password">
		  </div>
		  <button type="submit">Sign In</button>
		</form>
	</div>
  </div>
</div>